{% load i18n static %}

<!DOCTYPE html>
<html lang='pt-br'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css'>
    <link rel='stylesheet' href="{% static 'css/accounts.css' %}">
    <title>Criar Conta</title>
</head>
<body>
    <form method='POST' enctype='multipart/form-data'>
        {% csrf_token %}
        <div class='form-group'>
            <label for="{{ accounts_form.username.id_for_label }}">Usuário</label>
            {{ accounts_form.username }}
            {{ accounts_form.username.errors }}
        </div>
        <div class='form-group'>
            <label for="{{ accounts_form.email.id_for_label }}">E-mail</label>
            {{ accounts_form.email }}
            {{ accounts_form.email.errors }}
        </div>
        <div class='form-group'>
            <label for="{{ accounts_form.password1.id_for_label }}">Senha</label>
            {{ accounts_form.password1 }}
            {{ accounts_form.password1.errors }}
        </div>
        <div class='form-group'>
            <label for="{{ accounts_form.password2.id_for_label }}">Confirme sua senha</label>
            {{ accounts_form.password2 }}
            {{ accounts_form.password2.errors }}
        </div>
        <div class='Button'>
            <a href="{% url 'login' %}"><button type='button'>Voltar</button></a>
            <button type='submit'>Criar conta</button>
        </div>
    </form>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
